" ========================================
" Options
" ========================================

set number " Enable line numbers
set ignorecase " Case-insensitive searching unless \C or capital in search
set smartcase " Enable smart case
set signcolumn=yes " Keep signcolumn on by default
set relativenumber " Use relative line numbers
set expandtab " Convert tabs to spaces
set smartindent " Smart indentation
set showtabline=2 " Always show tab line

" ========================================
" Keymaps
" ========================================
